<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>资讯管理台</title>
  
  <% if (process.env.NODE_ENV === 'production') { %>
    <!-- 生产环境 -->
    <script>document.write('<script src="./config/index.js?t=' + new Date().getTime() + '"><\/script>');</script>
  <% }else { %>
    <!-- 开发环境 -->
    <link rel="shortcut icon" type="image/x-icon" href="./static/img/favicon.ico">
    <link id="themeLink" rel="stylesheet" href="./static/element-ui-theme/element-17B3A3/index.css">
    <script src="./static/config/index-dev.js"></script>
  <% } %>
</head>
<body id="body">
  <div id="app"></div>
</body>
</html>